/******************************************************************************
The MIT License (MIT)

Copyright (c) 2014 Matthias Eisen
Further changes Copyright (c) 2020 Clément Pit-Claudel

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
******************************************************************************/

kbd,
pre,
samp,
tt,
code,
code.highlight,
.docutils.literal {
    font-family: 'Iosevka Slab Web', 'Iosevka Web', 'Iosevka Slab', 'Iosevka', 'Fira Code', monospace;
    font-feature-settings: "XV00" 1; /* Use Coq ligatures when Iosevka is available */
}

body {
    color: #111;
    font-family: 'IBM Plex Serif', 'PT Serif', 'Merriweather', 'DejaVu Serif', serif;
    line-height: 1.5;
}

div.document {
    margin: 0 auto;
    max-width: 80rem;
}


/* ========== Headings ========== */

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 1.5em;
}

h1.section-subtitle,
h2.section-subtitle,
h3.section-subtitle,
h4.section-subtitle,
h5.section-subtitle,
h6.section-subtitle {
    margin-top: 0.4em;
}

h1.title {
    text-align: center;
}

h2.subtitle {
    text-align: center;
}

span.section-subtitle {
    font-size: 80%,
}

/* //-------- Headings ---------- */


/* ========== Images ========== */

img,
.figure,
object {
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
}

div.figure {
    margin-left:    2em;
    margin-right:   2em;
}

img.align-left, .figure.align-left, object.align-left {
    clear:          left;
    float:          left;
    margin-right:   1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear:          right;
    float:          right;
    margin-left:    1em;
}

img.align-center, .figure.align-center, object.align-center {
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
}

/* reset inner alignment in figures */
div.align-right {
    text-align: inherit;
}

object[type="image/svg+xml"],
object[type="application/x-shockwave-flash"] {
    overflow: hidden;
}

/* //-------- Images ---------- */



/* ========== Literal Blocks ========== */

.docutils.literal {
    background-color: #eee;
    padding: 0 0.2em;
    border-radius: 0.1em;
}

pre.address {
    margin-bottom: 0;
    margin-top: 0;
    font: inherit;
}

pre.literal-block {
    border-left: solid 5px #ccc;
    padding: 1em;
}

pre.literal-block, pre.doctest-block, pre.math, pre.code {
}

span.interpreted {
}

span.pre {
    white-space: pre;
}

pre.code .ln {
    color: grey;
}
pre.code, code {
    border-style: none;
    padding: 1em 0;
}
pre.code .comment, code .comment {
    color: #888;
}
pre.code .keyword, code .keyword {
    font-weight: bold;
    color: #080;
}
pre.code .literal.string, code .literal.string {
    color: #d20;
    background-color: #fff0f0;
}
pre.code .literal.number, code .literal.number {
    color: #00d;
}
pre.code .name.builtin, code .name.builtin {
    color: #038;
    color: #820;
}
pre.code .name.namespace, code .name.namespace {
    color: #b06;
}
pre.code .deleted, code .deleted {
    background-color: #fdd;
}
pre.code .inserted, code .inserted {
    background-color: #dfd;
}


/* //-------- Literal Blocks --------- */


/* ========== Tables ========== */

table {
    border-spacing:         0;
    border-collapse:        collapse;
    border-style:           none;
    border-top:             solid thin #111;
    border-bottom:          solid thin #111;
}

td,
th {
    border: none;
    padding:                0.5em;
    vertical-align:         top;
}

th {
    border-top:             solid thin #111;
    border-bottom:          solid thin #111;
    background-color:       #ddd;
}


table.field-list,
table.footnote,
table.citation,
table.option-list {
    border:                 none;
}
table.docinfo {
    margin:                 2em 4em;
}

table.docutils {
    margin:                 1em 0;
}

table.docutils th.field-name,
table.docinfo th.docinfo-name {
    border:                 none;
    background:             none;
    font-weight:            bold ;
    text-align:             left ;
    white-space:            nowrap ;
    padding-left:           0;
    vertical-align:         middle;
}

table.docutils.booktabs {
    border:                 none;
    border-top:             medium solid;
    border-bottom:          medium solid;
    border-collapse:        collapse;
}

table.docutils.booktabs * {
    border:                 none;
}
table.docutils.booktabs th {
    border-bottom:          thin solid;
    text-align:             left;
}

span.option {
    white-space: nowrap;
}

table caption {
    margin-bottom: 2px;
}

/* //-------- Tables ---------- */


/* ========== Lists ========== */

ol.simple, ul.simple {
    margin-bottom: 1em;
}

ol.arabic {
    list-style: decimal;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}

dl.docutils dd {
    margin-bottom: 0.5em;
}


dl.docutils dt {
    font-weight: bold;
}

/* //-------- Lists ---------- */


/* ========== Sidebar ========== */

div.sidebar {
    margin: 0 0 0.5em 1em ;
    border-left: solid medium #111;
    padding: 1em ;
    width: 40% ;
    float: right ;
    clear: right;
}

div.sidebar {
    font-size: 0.9rem;
}

p.sidebar-title {
    font-size: 1rem;
    font-weight: bold ;
}

p.sidebar-subtitle {
    font-weight: bold;
}

/* //-------- Sidebar ---------- */


/* ========== Topic ========== */

div.topic {
    border-left: thin solid #111;
    padding-left: 1em;
}

div.topic p {
    padding: 0;
}

p.topic-title {
    font-weight: bold;
}

/* //-------- Topic ---------- */


/* ========== Header ========== */

div.header {
    font-family:        "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size:          0.9rem;
    margin:             2em auto 4em auto;
    max-width:          960px;
    clear:              both;
}

hr.header {
    border:             0;
    height:             1px;
    margin-top:         1em;
    background-color:   #111;
}

/* //-------- Header ---------- */


/* ========== Footer ========== */

div.footer {
    font-family:        "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size:          0.9rem;
    margin:             6em auto 2em auto;
    max-width:          960px;
    clear:              both;
    text-align:         center;
}

hr.footer {
    border:             0;
    height:             1px;
    margin-bottom:      2em;
    background-color:   #111;
}

/* //-------- Footer ---------- */


/* ========== Admonitions ========== */

div.admonition,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
    border: solid thin #111;
    padding: 0 1em;
}

div.error,
div.danger {
    border-color: #a94442;
    background-color: #f2dede;
}

div.hint,
div.tip {
    border-color: #31708f;
    background-color: #d9edf7;
}

div.attention,
div.caution,
div.warning {
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}

div.hint p.admonition-title,
div.tip p.admonition-title {
    color: #31708f;
    font-weight: bold ;
}

div.note p.admonition-title,
div.admonition p.admonition-title,
div.important p.admonition-title {
    font-weight: bold ;
}

div.attention p.admonition-title,
div.caution p.admonition-title,
div.warning p.admonition-title {
    color: #8a6d3b;
    font-weight: bold ;
}

div.danger p.admonition-title,
div.error p.admonition-title,
.code .error {
    color: #a94442;
    font-weight: bold ;
}

/* //-------- Admonitions ---------- */


/* ========== Table of Contents ========== */

div.contents {
    margin: 2em 0;
    border: none;
}

ul.auto-toc {
    list-style-type: none;
}

a.toc-backref {
    text-decoration: none ;
    color: #111;
}

/* //-------- Table of Contents ---------- */



/* ========== Line Blocks========== */

div.line-block {
    display: block ;
    margin-top: 1em ;
    margin-bottom: 1em;
}

div.line-block div.line-block {
    margin-top: 0 ;
    margin-bottom: 0 ;
    margin-left: 1.5em;
}

/* //-------- Line Blocks---------- */


/* ========== System Messages ========== */

div.system-messages {
    margin: 5em;
}

div.system-messages h1 {
    color: red;
}

div.system-message {
    border: medium outset ;
    padding: 1em;
}

div.system-message p.system-message-title {
    color: red ;
    font-weight: bold;
}

/* //-------- System Messages---------- */


/* ========== Helpers ========== */

.hidden {
    display: none;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both ;
    text-align: center;
}

.align-right {
    text-align: right;
}

/* //-------- Helpers---------- */


p.caption {
    font-style: italic;
    text-align: center;
}

p.credits {
font-style: italic ;
font-size: smaller }

p.label {
white-space: nowrap }

p.rubric {
font-weight: bold ;
font-size: larger ;
color: maroon ;
text-align: center }

p.attribution {
text-align: right ;
margin-left: 50% }

blockquote.epigraph {
    margin: 2em 5em;
}

div.abstract {
margin: 2em 5em }

div.abstract {
font-weight: bold ;
text-align: center }

div.dedication {
margin: 2em 5em ;
text-align: center ;
font-style: italic }

div.dedication {
font-weight: bold ;
font-style: normal }


span.classifier {
font-style: oblique }

span.classifier-delimiter {
font-weight: bold }

span.problematic {
color: red }
